<footer class="footer mt-auto py-3 shadow-xl shadow">
    <div class="container">
      <div class="row justify-content-around">
        <div class="d-flex flex-column w-auto">
          <a
            class="btn"
            routerLink="/home"
            routerLinkActive="active"
            role="button"
          >
          <i class="fa-solid fa-house"></i>
            <p>Home</p>
          </a>
        </div>
        <div class="d-flex flex-column w-auto">
          <a class="btn" routerLink="/cart"  routerLinkActive="active" role="button">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Cart</p>
          </a>
        </div>
        <div class="d-flex flex-column w-auto">
          <a class="btn" routerLink="/fridge" routerLinkActive="active" role="button">
            <i class="fa-solid fa-burger"></i>
            <p>Fridge</p>
          </a>
        </div>
        <div class="d-flex flex-column w-auto">
          <a class="btn" routerLink="/profile"  routerLinkActive="active" role="button">
            <i class="fa-solid fa-user"></i>
            <p>Profile</p>
          </a>
        </div>
      </div>
    </div>
  </footer>