.main-container {
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

img {
  object-fit: cover; /* Maintain aspect ratio and cover the entire div */
  object-position: center center; /* Center the image within the div */
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
}

.image-container {
    height: 200px;
  span {
    z-index: 1000;
    position: relative;
    height: fit-content;
  }
}

.btn{
    position: relative; 
    z-index: 1000;
    height: fit-content;
    margin-left: 10px;
    background-color: rgba(var(--bs-light-rgb))
}
.fav-button{
    margin-top: -20px;
}