<p>prefs-step4 works!</p>
<div class="main-container">
    <div style="overflow: auto">
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-warning"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="container col px-4 pt-4">
        <p class="fs-1 fw-bold">Any ingredients you don't want to see in your recommended recipes?</p>
        <p class="fs-6 text-muted">
          Please select your favorite cuisines for a better recommendations.
        </p>
        <div class="container">
          <div class="row">
            <div class="col">
              <label for="radio-card-1" class="radio-card">
                <input
                  type="checkbox"
                  name="radio-card-1"
                  id="radio-card-1"
                  
                />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/banana-icon.png" />
                    <h5>Banana</h5>
                    
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-2" class="radio-card">
                <input type="checkbox" name="radio-card-2" id="radio-card-2" />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/broccoli-icon.png" />
                    <h5>Broccoli</h5>
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
                <label for="radio-card-2" class="radio-card">
                  <input type="checkbox" name="radio-card-2" id="radio-card-2" />
                  <div class="card-content-wrapper">
                    <div class="check-container"><span class="check-icon"></span></div>
                    <div class="card-content-custom card-content">
                      <img src="../../../assets/icons/cashew-icon.png" />
                      <h5>Cashew</h5>
                    </div>
                  </div>
                </label>
              </div>
          </div>
  
          <div class="row">
            <div class="col">
              <label for="radio-card-3" class="radio-card">
                <input type="checkbox" name="radio-card-3" id="radio-card-3" />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/egg-icon.png" />
                    <h5>Eggs</h5>
                    
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-4" class="radio-card">
                <input type="checkbox" name="radio-card-4" id="radio-card-4" />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/fish-icon.png" />
                    <h5>Fish</h5>
                   
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
                <label for="radio-card-2" class="radio-card">
                  <input type="checkbox" name="radio-card-2" id="radio-card-2" />
                  <div class="card-content-wrapper">
                    <div class="check-container"><span class="check-icon"></span></div>
                    <div class="card-content-custom card-content">
                      <img src="../../../assets/icons/chilli-icon.png" />
                      <h5>Chilli paper</h5>
                     
                    </div>
                  </div>
                </label>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="radio-card-5" class="radio-card">
                <input type="checkbox" name="radio-card-5" id="radio-card-5" />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/mushrooms-icon.png" />
                    <h5>Mushrooms</h5>
                    
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-6" class="radio-card">
                <input type="checkbox" name="radio-card-6" id="radio-card-6" />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/vegan-icon.png" />
                    <h5>Spinach</h5>
                    
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
                <label for="radio-card-2" class="radio-card">
                  <input type="checkbox" name="radio-card-2" id="radio-card-2" />
                  <div class="card-content-wrapper">
                    <div class="check-container"><span class="check-icon"></span></div>
                    <div class="card-content-custom card-content">
                      <img src="../../../assets/icons/bacon-icon.png" />
                      <h5>Bacon</h5>
                     
                    </div>
                  </div>
                </label>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="radio-card-7" class="radio-card">
                <input type="checkbox" name="radio-card-7" id="radio-card-7" />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/avocado-icon.png" />
                    <h5>Avocado</h5>
                    
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-8" class="radio-card">
                <input type="checkbox" name="radio-card-8" id="radio-card-8" />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/steak-icon.png" />
                    <h5>Beef</h5>
                   
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
                <label for="radio-card-2" class="radio-card">
                  <input type="checkbox" name="radio-card-2" id="radio-card-2" />
                  <div class="card-content-wrapper">
                    <div class="check-container"><span class="check-icon"></span></div>
                    <div class="card-content-custom card-content">
                      <img src="../../../assets/icons/wine-icon.png" />
                      <h5>Alcohol</h5>
                     
                    </div>
                  </div>
                </label>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="radio-card-7" class="radio-card">
                <input type="checkbox" name="radio-card-7" id="radio-card-7" />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/pork-icon.png" />
                    <h5>Pork</h5>
                    
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-8" class="radio-card">
                <input type="checkbox" name="radio-card-8" id="radio-card-8" />
                <div class="card-content-wrapper">
                  <div class="check-container"><span class="check-icon"></span></div>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/sugar-icon.png" />
                    <h5>Sugar</h5>
                   
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
                <label for="radio-card-2" class="radio-card">
                  <input type="checkbox" name="radio-card-2" id="radio-card-2" />
                  <div class="card-content-wrapper">
                    <div class="check-container"><span class="check-icon"></span></div>
                    <div class="card-content-custom card-content">
                      <img src="../../../assets/icons/cheese-icon.png" />
                      <h5>Cheese</h5>
                     
                    </div>
                  </div>
                </label>
              </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="footer py-3">
      <button type="button" class="btn btn-outline-warning" (click)="goBack()">
        <i class="fa-solid fa-arrow-left"></i> Back
      </button>
  
      <button type="button" class="btn btn-warning" (click)="goNext()">
        Next <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
  