<div class="main-container">
  <!-- <div class="progress">
      <div
        class="progress-bar progress-bar-striped bg-warning"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div> -->
  <div class="container col px-4 pt-4">
    <p class="text-lg fw-bold">What is your cooking level?</p>
    <p class="text-base text-muted">
      Please select your cooking level for a better recommendations.
    </p>
    <div class="col align-content-center">
      <label for="radio-card-1" class="radio-card">
        <input type="radio" name="radio-card" id="radio-card-1" checked />
        <div class="card-content-wrapper">
          <span class="check-icon"></span>
          <div class="card-content">
            <h4>Beginner</h4>
            <h5>
              Basic understanding of kitchen tools and basic cooking techniques
              such as boiling and frying.
            </h5>
          </div>
        </div>
      </label>
      <label for="radio-card-2" class="radio-card">
        <input type="radio" name="radio-card" id="radio-card-2" />
        <div class="card-content-wrapper">
          <span class="check-icon"></span>
          <div class="card-content">
            <h4>Intermediate</h4>
            <h5>
              Ability to follow recipes, prepare simple and quick dishes and use
              the basic knife basic knife-handling skills.
            </h5>
          </div>
        </div>
      </label>
      <label for="radio-card-3" class="radio-card">
        <input type="radio" name="radio-card" id="radio-card-3" />
        <div class="card-content-wrapper">
          <span class="check-icon"></span>
          <div class="card-content">
            <h4>Advanced</h4>
            <h5>
              Understanding of cooking principles, create recipes & proficiency
              in various cooking techniques such as baking, grilling & roasting.
            </h5>
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="footer py-3">
    <button class="btn btn-outline-secondary" (click)="goBack()">
      <i class="fa-solid fa-arrow-left"></i> Back
    </button>
    <button class="btn btn-warning" (click)="goNext()">
      Next <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
