<div class="main-container">
  <div class="container col px-4 pt-4">
    <p class="text-lg fw-bold">What is your cooking level?</p>
    <p class="text-base text-muted">
      Please select your cooking level for a better recommendations.
    </p>
    <form class="col align-content-center" [formGroup]="formGroup">
      <label for="radio-card-1" class="radio-card">
        <input
          type="radio"
          id="radio-card-1"
          value="BEGINNER"
          formControlName="coockingLevel"
        />
        <div class="card-content-wrapper">
          <span class="check-icon"></span>
          <div class="card-content">
            <h4>Beginner</h4>
            <h5>
              Basic understanding of kitchen tools and basic cooking techniques
              such as boiling and frying.
            </h5>
          </div>
        </div>
      </label>
      <label for="radio-card-2" class="radio-card">
        <input
          type="radio"
          id="radio-card-2"
          value="INTERMEDIATE"
          formControlName="coockingLevel"
        />
        <div class="card-content-wrapper">
          <span class="check-icon"></span>
          <div class="card-content">
            <h4>Intermediate</h4>
            <h5>
              Ability to follow recipes, prepare simple and quick dishes and use
              the basic knife basic knife-handling skills.
            </h5>
          </div>
        </div>
      </label>
      <label for="radio-card-3" class="radio-card">
        <input
          type="radio"
          id="radio-card-3"
          value="ADVANCED"
          formControlName="coockingLevel"
        />
        <div class="card-content-wrapper">
          <span class="check-icon"></span>
          <div class="card-content">
            <h4>Advanced</h4>
            <h5>
              Understanding of cooking principles, create recipes & proficiency
              in various cooking techniques such as baking, grilling & roasting.
            </h5>
          </div>
        </div>
      </label>
    </form>
  </div>
  <div class="footer py-3">
    <button class="btn btn-secondary" (click)="goHome()">Cancel</button>
    <button class="btn btn-warning" (click)="updateCookingLevel()">Save</button>
  </div>
</div>
