@use "../../../styles/config/colors" as *;

.month-datepicker {
  .dropdown-toggle,
  .no-caret {
    &::after {
      display: none !important;
    }
  }

  .datepicker {
    width: 204px;

    .arrow {
      border-style: solid;
      border-width: 0.2em 0.2em 0 0;
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
      margin-left: 0.25em;
      margin-right: 0.15em;
      transform: rotate(-135deg);

      &.right {
        transform: rotate(45deg);
        margin-left: 0.15em;
        margin-right: 0.25em;
      }
    }

    .btn-selection {
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      font-weight: 300;
      border: 1px solid transparent;

      &.not-in-range {
        opacity: 0.55;
      }

      &.active {
        background-color: $app-primary-main;
        color: white;
      }

      &:not(.active) {
        &:hover {
          background-color: $app-bg-color;
          color: $app-text-gray1;
          border: 1px solid $app-border-color;
        }
      }
    }
  }
}
