* {
  margin: 0px;
}

.icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.label {
  color: #212121;
  font-size: 20px;
  line-height: 24px;
  user-select: none;
}

.labelactive {
  color: #8266ff;
}

i {
  font-size: 25px;
  color: gray;
}
footer {
  background-color: white;
  position: relative;
  border-top: 1px solid var(--bs-gray-300);
    border-radius: 20px
}
p {
  font-size: 0.9rem !important;
}
.active {
  color: orange;
  i {
    color: orange;
  }
}
