<div class="main-container">
  <div class="mx-4 column pt-4" style="overflow-y: auto;">
    <div class="heading">
      <div class="d-flex justify-content-between mb-4 mx-2">
        <div>
          <p class="fs-4 fw-bold mb-0">Hi, Andreea! 👋</p>
          <p class="fs-6 fw-light">Let's see what I've got for you today!</p>
        </div>

        <button class="sign-out-btn">
          <div class="sign">
            <svg viewBox="0 0 512 512">
              <path
              d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
              ></path>
            </svg>
          </div>
          <div class="text">Logout</div>
        </button>
      </div>
      <div class="cart-card row mb-2">
        <div class="col-3">
          <img src="../../../assets/icons/icons8-grocery-100.png" />
        </div>
        <div class="col-9 my-auto">
          <div>
            <p class="fw-normal text-start">
              Check your shopping cart to see what you need for this week.
            </p>
            <div class="text-start">
              <a class="fw-bold cart-link" routerLink="/cart" >See cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container d-flex justify-content-between recipes-container mb-3"
    >
      <div *ngFor="let date of weekDays" [appTodayHighlight]="date">
        <p class="fs-6 justify-content-center d-flex">
          {{ date | date : "EEE" }}
        </p>
        <div class="card py-2 px-3" >
          <p class="justify-content-center d-flex fw-bold fs-5">
            {{ date | date : "d" }}
          </p>
          <p class="justify-content-center d-flex">{{ date | date : "MMM" }}</p>
        </div>
      </div>
    </div>
    <div><p class="fs-5 fw-bold mb-3">Today meels</p></div>
    <div class="recipes-container scrolling-wrapper">
      <div class="recipe-item">
        <div class="card recipe-card">
          <div class="image-container">
            <span class="badge bg-warning text-dark mx-1 my-1">Breakfast</span>
            <img src="../../../assets/images/smoothie-bowl.jpg" />
            <button type="button" class="favorite-button fav-button" (click)="favoriteAnimation($event)">
              <i class="fas fa-heart favorite__icon favorite--enable rounded-btn"></i>
              <i class="far fa-heart favorite__icon favorite--not rounded-btn"></i></button>
          </div>
        
          <div class="title-container">
            <p class="px-1 pt-2 fw-bold">Granola & Fruits bowl</p>
          </div>
          <div class="detail-container row">
            <div class="col">
              <div class="row d-flex justify-content-center">🔥</div>
              <div
                class="row d-flex justify-content-center recipe-details-text"
              >
                346 kcals
              </div>
            </div>
            <div class="col">
              <div class="row d-flex justify-content-center">⌚</div>
              <div
                class="row d-flex justify-content-center recipe-details-text"
              >
                10 min
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="recipe-item">
        <div class="card recipe-card">
          <div class="image-container">
            <span class="badge bg-warning text-dark mx-1  my-1">Lunch</span>
            <img src="../../../assets/images/recipes-1.jpg" />
          </div>
          <div class="title-container">
            <p class="px-1 pt-2 fw-bold">
              PoSkillet Polenta in Creamy Tomato Saucetato
            </p>
          </div>
          <div class="detail-container row">
            <div class="col">
              <div class="row d-flex justify-content-center">🔥</div>
              <div
                class="row d-flex justify-content-center recipe-details-text"
              >
                380 kcals
              </div>
            </div>
            <div class="col">
              <div class="row d-flex justify-content-center">⌚</div>
              <div
                class="row d-flex justify-content-center recipe-details-text"
              >
                40 min
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="recipe-item">
        <div class="card recipe-card">
          <div class="image-container">
            <span class="badge bg-warning text-dark mx-1  my-1">Dinner</span>
            <img src="../../../assets/images/lunch.jpg" />
          </div>
          <div class="title-container">
            <p class="px-1 pt-2 fw-bold">
              PoSkillet Polenta in Creamy Tomato Saucetato
            </p>
          </div>
          <div class="detail-container row">
            <div class="col">
              <div class="row d-flex justify-content-center">🔥</div>
              <div
                class="row d-flex justify-content-center recipe-details-text"
              >
                240 kcals
              </div>
            </div>
            <div class="col">
              <div class="row d-flex justify-content-center">⌚</div>
              <div
                class="row d-flex justify-content-center recipe-details-text"
              >
                20 min
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <app-navbar></app-navbar>
</div>
