.main-container {
  background-color: #f3f3f3;
}

.recipe-img {
  object-fit: cover; /* Maintain aspect ratio and cover the entire div */
  object-position: center center; /* Center the image within the div */
  top: 0;
  left: 0;
  height: 200px;
}

.image-container {
  height: 200px;
  span {
    z-index: 1000;
    height: fit-content;
  }
}

.btn {
  z-index: 1000;
  height: fit-content;
  margin-left: 10px;
  background-color: #000000a8;
}

.fav-button {
  margin-top: -10px;
  z-index: 1000;
}
.bg-light {
  color: white !important;
  background-color: #000000a8 !important;
}

.negative-margin-top {
  margin-top: -1rem !important;
}
.ingr-item {
  img {
   width: 50px;
    height: auto;
  }
}

.fridge-check{
  .green-icon{
    color: var(--bs-green);
  }

  .red-icon{
    color: var(--bs-red);
  }
 
}
