<div
  class="main-container h-100 d-flex justify-content-between flex-column"
  *ngIf="recipe"
>
  <div class="d-flex flex-column overflow-auto">
    <div>
      <div class="image-container d-flex justify-content-between">
        <button
          class="btn position-relative rounded-circle position-relative my-3"
          (click)="goBack()"
        >
          <i class="fa-solid fa-arrow-left" style="color: white"></i>
        </button>
        <span class="d-flex justify-content-end">
          <app-badge
            [color]="'yellow'"
            [text]="recipe.cuisineName"
            [showXButton]="false"
            class="position-absolute"
            style="z-index: 1000"
          ></app-badge>
        </span>

        <!-- <span class="position-relative badge bg-light mx-1 my-3 fs-6"
            >{{ recipe.cuisineName }} food</span
          > -->
        <!-- <span
            type="button"
            class="favorite-button fav-button text-end me-5"
            (click)="favoriteAnimation($event)"
          >
            <i
              class="fas fa-heart favorite__icon favorite--enable rounded-btn"
            ></i>
            <i
              class="far fa-heart favorite__icon favorite--not rounded-btn"
            ></i>
          </span> -->

        <img
          [src]="getImageUrl(recipe.pictureUrl)"
          class="w-100 mx-auto d-block recipe-img"
        />
      </div>

      <div class="mb-2 d-flex justify-content-center flex-row">
        <p
          class="card shadow text-center fw-bold px-5 py-2 negative-margin-top mx-4"
          style="max-width: max-content"
        >
          {{ recipe.name }}
        </p>
      </div>
      <div class="container">
        <div
          class="d-flex flex-row shadow card text-center h-100 align-items-center py-2"
        >
          <div class="col">
            <div>🔥</div>
            <div class="custom-font">
              <b>{{ recipe.kcals }}</b> kcals
            </div>
          </div>
          <div class="col">
            <div>⌚</div>
            <div class="custom-font">
              <b>{{ recipe.prepTime }}</b> min
            </div>
          </div>
          <div class="col">
            <div>🍳</div>
            <div class="fw-bold custom-font">
              {{ recipe.cookingLevel | titlecase }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-2 overflow-auto">
      <div class="d-flex flex-column shadow card py-2 px-2">
        <p class="fw-bold">Description</p>
        <p class="custom-font">
          {{ recipe.description }}
        </p>
        <p class="fw-bold my-2">Ingredients</p>
        <div
          class="d-flex flex-row ingr-item align-items-center mb-1"
          *ngFor="let rec of recipe.ingredientDtoList"
        >
          <img
            [src]="getImageUrl(rec.ingredient.pictureUrl)"
            class="card shadow px-1 py-1"
          />
          <div
            class="d-flex flex-row justify-content-between align-items-center px-2"
            style="width: -webkit-fill-available"
          >
            <p class="small mb-0 fw-bold">{{ rec.ingredient.name }}</p>
            <p class="small mb-0">
              {{ rec.quantity }} {{ rec.unitOfMeasure | lowercase }}
            </p>
            <div
              class="d-flex align-items-center fridge-check"
              *ngIf="
                checkIngredientIfIsInTheFridge(rec.ingredient.id);
                else noInFridge
              "
            >
              <i class="fa-regular fa-circle-check px-1 green-icon"></i>
              <p class="small mb-0 green-icon">In your fridge</p>
            </div>
            <ng-template #noInFridge>
              <div class="d-flex align-items-center fridge-check">
                <i class="fa-regular fa-circle-xmark px-1 red-icon"></i>
                <p class="small mb-0 green-icon red-icon">Not in your fridge</p>
              </div>
            </ng-template>
          </div>
        </div>

        <p class="fw-bold mt-1">Instructions</p>
        <section class="small">
          {{ recipe.instructions | lineBreak }}
        </section>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
