<div class="main-container">
  <div style="overflow: auto">
    <div class="container col px-4 pt-4 diet-wrapper">
      <p class="text-lg fw-bold">Do you follow any of these diets?</p>
      <p class="text-base text-muted">
        Please select your favorite cuisines for a better recommendations.
      </p>
      <div class="container diets-full-list">
        <div class="row" *ngFor="let diet of allDiets">
          <div class="col">
            <label [for]="'radio-card-' + diet.id" class="radio-card">
              <input
                type="checkbox"
                [name]="'radio-card-' + diet.id"
                [id]="'radio-card-' + diet.id"
                [checked]="isSelected(diet.name)"
                (change)="updateList(diet.name)"
              />
              <div class="card-content-wrapper">
                <div class="check-container">
                <span class="check-icon"></span>
                </div>
                <div class="card-content-custom card-content">
                  <img class="diet-image" [src]="diet.iconUrl" />
                  <p class="text-lg fw-bold">{{ diet.name }}</p>
                  <p class="text-sm text-muted text-center">
                    {{ diet.description }}
                  </p>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer py-3">
    <button class="btn btn-secondary" (click)="goHome()">Cancel</button>
    <button class="btn btn-warning" (click)="updateDiets()">Save</button>
  </div>
</div>
