<div class="main-container">
  <div class="mx-2 column pt-2" style="overflow-y: auto">
    <div class="heading">
      <div class="profile-card row mb-2">
        <div class="col-3">
          <img src="../../../assets/icons/female-icon.png" />
        </div>
        <div class="col-9 my-auto">
          <div>
            <p class="fw-bold text-start fs-6">
              {{ user.FirstName }} {{ user.LastName }}
            </p>
            <div class="text-start">
              <p class="small text-muted">{{ loggedUser.email }}</p>
            </div>
            <a routerLink="preferences-step-1">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div><p class="medium fw-bold mb-2">Personal informations</p></div>
    <div class="mb-3 w-full p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">

      <div class="row align-items-start">
        <div class="col text-center">
          <p class="text-muted">Age</p>
          <p class="fw-bold">{{ user.Age }}</p>
        </div>
        <div class="col text-center">
          <p class="text-muted">Height</p>
          <p class="fw-bold">{{ user.Height }}</p>
        </div>
        <div class="col text-center">
          <p class="text-muted">Weight</p>
          <p class="fw-bold">{{ user.Weight }}</p>
        </div>
        <div class="col text-center">
          <p class="text-muted">BMR</p>
          <p class="fw-bold">{{ user.BMR }}</p>
        </div>
      </div>
    </div>
    <div><p class="medium fw-bold mb-2">Favourite cuisines</p></div>
    <ng-container
      *ngFor="let cuisine of user.FavouriteCuisines; let i = index"
      class="mb-2"
    >
      <app-badge [color]="colors[i]" [text]="cuisine" [showXButton]="true"></app-badge>
    </ng-container>
    <div><p class="medium fw-bold mb-2">Followed diets</p></div>

  </div>
  <app-navbar></app-navbar>
</div>
