<div class="main-container bg-white" *ngIf="loggedUser">
  <div class="mx-2 column pt-2" style="overflow-y: auto">
    <div class="heading">
      <div
        class="bg-[#d1c4e9] mx-2 border border-gray-200 rounded-lg shadow row mb-2"
      >
        <div class="col-3">
          <img
            *ngIf="loggedUser.gender === 'M'"
            src="../../../assets/icons/male-icon.png"
            alt="Male Image"
          />
          <img
            *ngIf="loggedUser.gender === 'F'"
            src="../../../assets/icons/female-icon.png"
            alt="Female Image"
          />
          <img
            *ngIf="!loggedUser.gender || loggedUser.gender === 'null'"
            src="../../../assets/no-content/no-image.png"
            alt="Default Image"
          />
        </div>
        <div class="col-9 my-auto">
          <div>
            <p class="fw-bold text-start fs-6">
              {{ loggedUser.firstName }} {{ loggedUser.lastName }}
            </p>
            <div class="text-start">
              <p class="small text-muted">{{ loggedUser.email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="mx-2 mb-3 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="d-flex justify-content-between">
        <p class="medium fw-bold mb-2 px-2 py-2">Personal informations</p>
        <a
          routerLink="/profile/preferences-step-1"
          class="no-underline hover:underline text-gray-400 text-sm mb-2 px-2 py-2"
          >Edit</a
        >
      </div>

      <div class="row align-items-start divide-x">
        <div class="col text-center">
          <p class="text-muted small">Age</p>
          <p class="fw-bold small" *ngIf="loggedUser.age; else noData">
            {{ loggedUser.age }}
          </p>
        </div>
        <div class="col text-center">
          <p class="text-muted small">Height</p>
          <p class="fw-bold small" *ngIf="loggedUser.height; else noData">
            {{ loggedUser.height }}
          </p>
        </div>
        <div class="col text-center">
          <p class="text-muted small">Weight</p>
          <p class="fw-bold small" *ngIf="loggedUser.weight; else noData">
            {{ loggedUser.weight }}
          </p>
        </div>
        <div class="col text-center">
          <p class="text-muted small">BMR</p>
          <p class="fw-bold small" *ngIf="loggedUser.bmr; else noData">
            {{ loggedUser.bmr }}
          </p>
        </div>
      </div>
      <ng-template #noData>
        <p class="fw-bold small">-</p>
      </ng-template>
    </div>

    <div
      class="mx-2 mb-3 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="d-flex justify-content-between">
        <p class="medium fw-bold mb-2 px-2 py-2">Cooking level</p>
        <a
          routerLink="/profile/preferences-step-7"
          class="no-underline hover:underline text-gray-400 text-sm px-2 py-2"
          >Edit</a
        >
      </div>
      <p class="small px-2 py-2 shadow card w-max bg-gray-200 mx-2" *ngIf="loggedUser.cookingLevel; else noData">
        {{ loggedUser.cookingLevel | titlecase }}
      </p>
    </div>

    <div
      class="mx-2 mb-3 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="d-flex justify-content-between">
        <p class="medium fw-bold mb-2 px-2 py-2">Physical effort</p>
        <a
          routerLink="/profile/preferences-step-5"
          class="no-underline hover:underline text-gray-400 text-sm px-2 py-2"
          >Edit</a
        >
      </div>
      <p class="small px-2 py-2 shadow card w-max bg-gray-200 mx-2" *ngIf="loggedUser.physicalEffort; else noData">
        {{ loggedUser.physicalEffort | physicalEffort | titlecase }}
      </p>
    </div>

    <div
      class="mx-2 mb-3 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="d-flex justify-content-between">
        <p class="medium fw-bold mb-2 px-2 py-2">Favourite cuisines</p>
        <a
          routerLink="/profile/preferences-step-2"
          class="no-underline hover:underline text-gray-400 text-sm mb-2 px-2 py-2"
          >Edit</a
        >
      </div>
      <ng-container
        *ngFor="let cuisine of loggedUser.userCuisines; let i = index"
        class="mb-2"
      >
        <app-badge
          [color]="colors[i]"
          [text]="cuisine.name"
          [showXButton]="true"
        ></app-badge>
      </ng-container>
    </div>
    <div
      class="mx-2 mb-3 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="d-flex justify-content-between">
        <p class="medium fw-bold mb-2 px-2 py-2">Followed diets</p>
        <a
          routerLink="/profile/preferences-step-3"
          class="no-underline hover:underline text-gray-400 text-sm mb-2 px-2 py-2"
          >Edit</a
        >
      </div>
      <ng-container
        *ngFor="let cuisine of loggedUser.userDiets; let i = index"
        class="mb-2"
      >
        <app-badge
          [color]="colors[colors.length - i - 2]"
          [text]="cuisine.name"
          [showXButton]="true"
        ></app-badge>
      </ng-container>
    </div>
    <div
      class="mx-2 mb-3 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="d-flex justify-content-between">
        <p class="medium fw-bold mb-2 px-2 py-2">Avoided ingredients</p>
        <a
          routerLink="/profile/preferences-step-4"
          class="no-underline hover:underline text-gray-400 text-sm mb-2 px-2 py-2"
          >Edit</a
        >
      </div>
      <ng-container
        *ngFor="
          let cuisine of loggedUser.userDislikedIngredients;
          let i = index
        "
        class="mb-2"
      >
        <app-badge
          [color]="'zinc'"
          [text]="cuisine.name"
          [showXButton]="true"
        ></app-badge>
      </ng-container>
    </div>
    <div
      class="mx-2 mb-3 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="d-flex justify-content-between">
        <p class="medium fw-bold mb-2 px-2 py-2">Goals</p>
        <a
          routerLink="/profile/preferences-step-6"
          class="no-underline hover:underline text-gray-400 text-sm mb-2 px-2 py-2"
          >Edit</a
        >
      </div>
      <ng-container *ngIf="loggedUser.wantToLearnNewSkills">
        <app-badge
          [color]="'lime'"
          [text]="'⭐Learn new skills'"
          [showXButton]="true"
        ></app-badge
      ></ng-container>
      <ng-container *ngIf="loggedUser.wantToTryNewCuisines">
        <app-badge
          [color]="'lime'"
          [text]="'⭐Try new cuisines'"
          [showXButton]="true"
        ></app-badge
      ></ng-container>
      <ng-container *ngIf="loggedUser.wantToSaveMoney">
        <app-badge
          [color]="'lime'"
          [text]="'⭐Save money'"
          [showXButton]="true"
        ></app-badge
      ></ng-container>
      <ng-container *ngIf="loggedUser.wantToSaveTime">
        <app-badge
          [color]="'lime'"
          [text]="'⭐Save time'"
          [showXButton]="true"
        ></app-badge
      ></ng-container>
      <ng-container *ngIf="loggedUser.wantToEatHealthy">
        <app-badge
          [color]="'lime'"
          [text]="'⭐Eat healthy'"
          [showXButton]="true"
        ></app-badge
      ></ng-container>
      <!-- <ng-container
        *ngFor="let cuisine of user.Goals; let i = index"
        class="mb-2"
      >
        <app-badge
          [color]="'lime'"
          [text]="cuisine"
          [showXButton]="true"
        ></app-badge>
      </ng-container> -->
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
