<div class="main-container">
  <div style="overflow: auto">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped bg-warning"
        role="progressbar"
        style="width: 83.33%"
        aria-valuenow="83.33"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <div class="container col px-4 pt-4">
      <p class="text-lg fw-bold">What are your cooking goals?</p>
      <p class="text-base text-muted">
        Please select your level of physical exertion for a more accurate
        recommendation.
      </p>
      <div class="col align-content-center">
        <label for="radio-card-1" class="radio-card">
          <input type="checkbox" name="radio-card-1" id="radio-card-1" />
          <div class="card-content-wrapper">
            <div class="card-content">
              <div style="display: flex; max-width: 95%">
                <img src="../../../assets/icons/icons8-cutting-board-100.png" />
                <div class="text-container">
                  <p class="text-lg fw-bold">Learn new skills</p>
                  <p class="text-sm text-muted">
                    The recipes with several steps can challenge you and
                    discover new cooking techniques
                  </p>
                </div>
              </div>
              <span class="check-icon"></span>
            </div>
          </div>
        </label>
        <label for="radio-card-2" class="radio-card">
          <input type="checkbox" name="radio-card-2" id="radio-card-2" />
          <div class="card-content-wrapper">
            <div class="card-content">
              <div style="display: flex; max-width: 95%">
                <img
                  src="../../../assets/icons/icons8-kawaii-french-fries-100.png"
                />
                <div class="text-container">
                  <p class="text-lg fw-bold">Try new cuisines</p>
                  <p class="text-sm text-muted">
                    Recipes from other areas or with unusual combinations of
                    tastes may surprise you
                  </p>
                </div>
              </div>
              <span class="check-icon"></span>
            </div>
          </div>
        </label>
        <label for="radio-card-3" class="radio-card">
          <input type="checkbox" name="radio-card-3" id="radio-card-3" />
          <div class="card-content-wrapper">
            <div class="card-content">
              <div style="display: flex; max-width: 95%">
                <img src="../../../assets/icons/icons8-time-100.png" />
                <div class="text-container">
                  <p class="text-lg fw-bold">Save time</p>
                  <p class="text-sm text-muted">
                    Quick and tasty recipes are always the best choice when you
                    don't have enough time
                  </p>
                </div>
              </div>
              <span class="check-icon"></span>
            </div>
          </div>
        </label>
        <label for="radio-card-4" class="radio-card">
          <input type="checkbox" name="radio-card-4" id="radio-card-4" />
          <div class="card-content-wrapper">
            <div class="card-content">
              <div style="display: flex; max-width: 95%">
                <img src="../../../assets/icons/icons8-money-100.png" />
                <div class="text-container">
                  <p class="text-lg fw-bold">Save money</p>
                  <p class="text-sm text-muted">
                    Recipes that contain not very expensive ingredients can
                    surprise you
                  </p>
                </div>
              </div>
              <span class="check-icon"></span>
            </div>
          </div>
        </label>
        <label for="radio-card-5" class="radio-card">
          <input type="checkbox" name="radio-card-5" id="radio-card-5" />
          <div class="card-content-wrapper">
            <div class="card-content">
              <div style="display: flex; max-width: 95%">
                <img src="../../../assets/icons/broccoli-icon.png" />
                <div class="text-container">
                  <p class="text-lg fw-bold">Eat healthy</p>
                  <p class="text-sm text-muted">
                    A diet rich in fruits and vegetables will revitalize you and
                    give you the energy you need
                  </p>
                </div>
              </div>
              <span class="check-icon"></span>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="footer py-3">
    <button type="button" class="btn btn-outline-warning" (click)="goBack()">
      <i class="fa-solid fa-arrow-left"></i> Back
    </button>

    <button type="button" class="btn btn-warning" (click)="goNext()">
      Next <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
