<label [for]="id" class="form-label"
  >{{ label }} <span *ngIf="required" class="text-danger">*</span></label
>
<div class="input-group">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [attr.aria-describedby]="id"
    readonly="readonly"
    ngbDatepicker
    #singleDate="ngbDatepicker"
    [ngClass]="{
      'is-invalid': submitted && ngControl?.errors
    }"
  />
  <button
    class="btn btn-secondary p-0 px-3"
    type="button"
    [id]="id"
    (click)="singleDate.toggle()"
  >
    <i class="fs-4 bi bi-calendar3"></i>
  </button>
</div>
<ng-content></ng-content>
