.card-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
label.radio-card .card-content-wrapper{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 10px !important;
}

label.radio-card .card-content{
   margin-bottom: 0px !important;
    
}
.container{
    padding-bottom: 25px !important;
}
img{
    height: 80px;
    padding-right: 15px;
}
.check-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
}
