<div class="main-container">
  <div style="overflow: auto">
    <div class="container col px-4 pt-4 mb-2">
      <p class="text-lg fw-bold">
        Any ingredients you don't want to see in your recommended recipes?
      </p>
      <p class="text-base text-muted">
        Please select the ingredients you don't want to see as often in your recommendations
            </p>
      <div class="container ingredients-full-list" *ngIf="ingredients">
        <div class="row" *ngFor="let ingr of ingredients">
          <div class="col">
            <label [for]="'radio-card-' + ingr.id" class="radio-card">
              <input
                type="checkbox"
                [name]="'radio-card-' + ingr.id"
                [id]="'radio-card-' + ingr.id"
                [checked]="isSelected(ingr.id)"
                (change)="updateList(ingr.id)"
              />
              <div class="card-content-wrapper">
                <div class="check-container">
                  <span class="check-icon"></span>
                </div>
                <div class="card-content-custom card-content">
                  <img class="ingredient-image" [src]="getIngredientUrl(ingr.pictureUrl)" title="{{ingr.id}}"/>
                  <p class="text-sm fw-bold text-center">{{ingr.name}}</p>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer py-3">
    <button class="btn btn-secondary" (click)="goHome()">Cancel</button>
    <button class="btn btn-warning" (click)="updateIngredients()">Save</button>
  </div>
</div>
