<div class="container pt-4 pb-4">
  <h1 class="border-bottom border-primary border-3">EnProfile Style Guide</h1>

  <section class="mt-4">
    <h1 class="text-decoration-underline" id="typography">1. Typography</h1>

    <div class="card">
      <div class="card-body">
        <h1>h1. Heading</h1>
        <h2>h2. Heading</h2>
        <h3>h3. Heading</h3>
        <h4>h4. Heading</h4>
        <h5>h5. Heading</h5>
        <h6>h6. Heading</h6>
        <p>Normal Paragraph</p>
        <p class="text-muted">Muted text</p>
        <p class="fw-light">Light text (300)</p>
        <p class="fw-normal">Normal text (400)</p>
        <p class="fw-bold">Bold text (500)</p>
        <p class="fw-bolder">Bolder text (700)</p>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <h1 class="text-decoration-underline" id="cards">2. Buttons</h1>
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-primary me-3">
          Primary Button
        </button>
        <button type="button" class="btn btn-secondary me-3">
          Secondary Button
        </button>
        <button type="button" class="btn btn-primary disabled">
          Disabled Button
        </button>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <h1 class="text-decoration-underline" id="cards">3. Forms</h1>
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <app-field label="Name" placeholder="Name" fieldType="INPUT">
          </app-field>
        </div>
        <div class="mb-3">
          <app-field
            label="Textarea"
            placeholder="Type something about you"
            fieldType="TEXTAREA"
          >
          </app-field>
        </div>
        <div class="mb-3">
          <app-datepicker label="Datepicker" placeholder="Birth date">
          </app-datepicker>
        </div>
        <div class="mb-3">
          <app-month-datepicker
            label="Month/Year only Datepicker"
            placeholder="Start date"
            [(ngModel)]="startDate"
          >
          </app-month-datepicker>
        </div>
        <div class="mb-3">
          <app-field
            label="Disabled field"
            placeholder="Name"
            fieldType="INPUT"
            [disabled]="true"
          >
          </app-field>
        </div>

        <div class="mb-3">
          <label for="exampleInvalid" class="form-label"
            >Field with invalid class</label
          >
          <input
            type="email"
            class="form-control is-invalid"
            id="exampleInvalid"
          />
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <p class="fs-sm fw-bold mb-0">Simple Radio buttons</p>
        <div class="form-check-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="simpleRadio"
              id="simpleRadio1"
            />
            <label class="form-check-label" for="simpleRadio1">
              Default radio
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="simpleRadio"
              id="simpleRadio2"
              checked
            />
            <label class="form-check-label" for="simpleRadio2">
              Default checked
            </label>
          </div>
        </div>

        <p class="fs-sm fw-bold mb-0 mt-4">Simple Radio buttons - fill width</p>
        <div class="form-check-group flex-fill">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="simpleSpreadRadio"
              id="simpleSpreadRadio1"
            />
            <label class="form-check-label" for="simpleSpreadRadio1">
              Default radio
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="simpleSpreadRadio"
              id="simpleSpreadRadio2"
              checked
            />
            <label class="form-check-label" for="simpleSpreadRadio2">
              Default checked
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="simpleSpreadRadio"
              id="simpleSpreadRadio3"
            />
            <label class="form-check-label" for="simpleSpreadRadio3">
              Default radio
            </label>
          </div>
        </div>

        <p class="fs-sm fw-bold mb-0 mt-4">
          Simple Radio button blocks - fill width
        </p>
        <div class="form-check-group form-check-group-block flex-fill g-3">
          <div class="form-check form-check-block">
            <input
              class="form-check-input"
              type="radio"
              name="radioButtonBlock"
              id="radioButtonBlock1"
            />
            <label class="form-check-label" for="radioButtonBlock1">
              Default radio
            </label>
          </div>
          <div class="form-check form-check-block">
            <input
              class="form-check-input"
              type="radio"
              name="radioButtonBlock"
              id="radioButtonBlock2"
              checked
            />
            <label class="form-check-label" for="radioButtonBlock2">
              Default checked
            </label>
          </div>
          <div class="form-check form-check-block">
            <input
              class="form-check-input"
              type="radio"
              name="radioButtonBlock"
              id="radioButtonBlock3"
            />
            <label class="form-check-label" for="radioButtonBlock3">
              Default radio
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <div class="mb-3">
          <app-field
            label="Example dropdown"
            placeholder="Select year"
            fieldType="SELECT"
            [items]="years"
            [(ngModel)]="year"
          >
          </app-field>
        </div>

        <div class="mb-3">
          <app-field
            label="Example dropdown disabled"
            placeholder="Select year"
            fieldType="SELECT"
            [items]="years"
            [disabled]="true"
            [(ngModel)]="year"
          >
          </app-field>
        </div>

        <div class="mb-3">
          <app-field
            label="Example dropdown pills"
            placeholder="Select skills"
            fieldType="MULTISELECT"
            [items]="dummyMultiValues"
            [(ngModel)]="multiValue"
          >
          </app-field>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <h1 class="text-decoration-underline" id="cards">4. Cards</h1>
    <div class="card" style="width: 20rem">
      <div class="card-body">
        <h3 class="card-title text-uppercase">Card title</h3>
        <p class="card-text fw-bold">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p>
          am a very special person. My mom always said that. I am a very special
          person. My mom always said that.
        </p>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <h1 class="text-decoration-underline" id="cards">
      5. Table with pagination
    </h1>
    <p class="fs-sm fw-bold mb-0 mt-4">Plain pagination</p>
    <nav>
      <ul class="pagination">
        <li class="page-item disabled">
          <a
            role="button"
            class="page-link"
            aria-label="Previous"
            (click)="$event.preventDefault()"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a role="button" class="page-link" (click)="$event.preventDefault()"
            >1</a
          >
        </li>
        <li class="page-item active">
          <a role="button" class="page-link" (click)="$event.preventDefault()"
            >2</a
          >
        </li>
        <li class="page-item">
          <a role="button" class="page-link" (click)="$event.preventDefault()"
            >3</a
          >
        </li>
        <li class="page-item">
          <a
            role="button"
            class="page-link"
            (click)="$event.preventDefault()"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <p class="fs-sm fw-bold mb-0 mt-4">ngb-bootstrap pagination</p>
    <ngb-pagination
      [collectionSize]="totalRecords"
      [(page)]="currentPage"
      [pageSize]="pageSize"
    >
    </ngb-pagination>
    <div class="card" style="height: 20rem; overflow-y: auto">
      <table class="table table-borderless table-striped table-sticky-header">
        <thead>
          <tr>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td>{{ row.first }}</td>
            <td>{{ row.last }}</td>
            <td>{{ row.handle }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="fs-sm fw-bold mb-0 mt-4">
      Sortable table, default asc on first column
    </p>
    <div class="card" style="height: 20rem; overflow-y: auto">
      <table
        tableSort
        [column]="sortEvent.column"
        [direction]="sortEvent.direction"
        (sortChange)="onSort($event)"
        class="table table-borderless table-striped table-sticky-header"
      >
        <thead>
          <tr>
            <th sortable="first">First</th>
            <th sortable="last">Last</th>
            <th sortable="handle">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td>{{ row.first }}</td>
            <td>{{ row.last }}</td>
            <td>{{ row.handle }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="mt-4">
    <h1 class="text-decoration-underline" id="cards">6. Alerts</h1>
    <div class="card">
      <div class="card-body">
        <button
          type="button"
          class="btn btn-secondary me-3"
          (click)="showAlert(alertType.Info)"
        >
          Show Info
        </button>
        <button
          type="button"
          class="btn btn-secondary me-3"
          (click)="showAlert(alertType.Error)"
        >
          Show Error
        </button>
        <button
          type="button"
          class="btn btn-secondary me-3"
          (click)="showAlert(alertType.Success)"
        >
          Show Success
        </button>
        <button
          type="button"
          class="btn btn-secondary me-3"
          (click)="showAlert(alertType.Warning)"
        >
          Show Warning
        </button>
      </div>
    </div>
  </section>
</div>
