<div class="main-container">
    <div style="overflow: auto;">
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-warning"
          role="progressbar"
          style="width: 16.66%"
          aria-valuenow="16.66"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="container col px-4 pt-4">
        <p class="fs-1 fw-bold">What are your favorite cuisines?</p>
        <p class="fs-6 text-muted">
          Please select your favorite cuisines for a better recommendations.
        </p>
        <div class="container">
          <div class="row">
            <div class="col">
              <label for="radio-card-1" class="radio-card">
                <input type="checkbox" name="radio-card-1" id="radio-card-1" />
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/pizza-icon.png" />
                    <h4>Italian</h4>
                    <h5>pasta, pizza, lasagna, risotto, focaccia</h5>
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-2" class="radio-card">
                <input type="checkbox" name="radio-card-2" id="radio-card-2"/>
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/hamburger-icon.png" />
                    <h4>American</h4>
                    <h5>burgers, hot dogs, apple pie, barbecue ribs</h5>
                  </div>
                </div>
              </label>
            </div>
          </div>
    
          <div class="row">
            <div class="col">
              <label for="radio-card-3" class="radio-card">
                <input type="checkbox" name="radio-card-3" id="radio-card-3" />
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/kid-icon.png" />
                    <h4>Kid-friendly</h4>
                    <h5>
                      chicken parmesan, broccoli, chicken nuggets, noodle soup
                    </h5>
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-4" class="radio-card">
                <input type="checkbox" name="radio-card-4" id="radio-card-4" />
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/taco-icon.png" />
                    <h4>Mexican</h4>
                    <h5>tacos, burritos, nachos, guacamole, quesadillas</h5>
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="radio-card-5" class="radio-card">
                <input type="checkbox" name="radio-card-5" id="radio-card-5" />
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/croissant-icon.png" />
                    <h4>French</h4>
                    <h5>
                      foie gras, ratatoiulle, souffle, escargots, andouillette
                    </h5>
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-6" class="radio-card">
                <input type="checkbox" name="radio-card-6" id="radio-card-6" />
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/greek-icon.png" />
                    <h4>Greek</h4>
                    <h5>moussaka, souvlaki, gyros, greek salad,papoutsakia  </h5>
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="radio-card-7" class="radio-card">
                <input type="checkbox" name="radio-card-7" id="radio-card-7" />
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/india-icon.png" />
                    <h4>Indian</h4>
                    <h5>
                      samosa, dal, tandoori chicken, panipuri, kofta
                    </h5>
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-8" class="radio-card">
                <input type="checkbox" name="radio-card-8" id="radio-card-8" />
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/maroccan-icon.png" />
                    <h4>Maroccan</h4>
                    <h5>couscous, zalouk, tagine, harira, saalouk</h5>
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="radio-card-9" class="radio-card">
                <input type="checkbox" name="radio-card-9" id="radio-card-9" />
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/barbecue-icon.png" />
                    <h4>Barbecue</h4>
                    <h5>
                      BBQ pulled pork, kebabs, ribs, chicken skewers
                    </h5>
                  </div>
                </div>
              </label>
            </div>
            <div class="col">
              <label for="radio-card-10" class="radio-card">
                <input type="checkbox" name="radio-card-10" id="radio-card-10" />
                <div class="card-content-wrapper">
                  <span class="check-icon"></span>
                  <div class="card-content-custom card-content">
                    <img src="../../../assets/icons/chineese-icon.png" />
                    <h4>Chineese</h4>
                    <h5>kung pao chicken, mapo tofu, spring rolls, chow mein</h5>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="col align-content-center">
          <label for="radio-card-1" class="radio-card">
            <input type="radio" name="radio-card" id="radio-card-1" checked />
            <div class="card-content-wrapper">
              <span class="check-icon"></span>
              <div class="card-content">
                <h4>Beginner</h4>
                <h5>
                  Basic understanding of kitchen tools and basic cooking techniques
                  such as boiling and frying.
                </h5>
              </div>
            </div>
          </label>
          <label for="radio-card-2" class="radio-card">
            <input type="radio" name="radio-card" id="radio-card-2" />
            <div class="card-content-wrapper">
              <span class="check-icon"></span>
              <div class="card-content">
                <h4>Intermediate</h4>
                <h5>
                  Ability to follow recipes, prepare simple and quick dishes and use
                  the basic knife basic knife-handling skills.
                </h5>
              </div>
            </div>
          </label>
          <label for="radio-card-3" class="radio-card">
            <input type="radio" name="radio-card" id="radio-card-3" />
            <div class="card-content-wrapper">
              <span class="check-icon"></span>
              <div class="card-content">
                <h4>Advanced</h4>
                <h5>
                  Understanding of cooking principles, create recipes & proficiency
                  in various cooking techniques such as baking, grilling & roasting.
                </h5>
              </div>
            </div>
          </label>
        </div> -->
      </div>
    </div>
    
    <div class="footer py-3">
      <button type="button" class="btn btn-outline-warning" (click)="goBack()">
        <i class="fa-solid fa-arrow-left"></i> Back
      </button>
  
      <button type="button" class="btn btn-warning" (click)="goNext()">
        Next <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
  