<div class="main-container">
  <div class="mx-2 column pt-2" style="overflow-y: auto">
    <div class="heading">
      <div class="d-flex justify-content-between mx-2">
        <div>
          <p class="fs-4 fw-bold mb-0">Hi, {{ user.firstName }} ! 👋</p>
          <p class="fs-6 fw-light">Let's see what I've got for you today!</p>
        </div>
        <button
          (click)="logOut()"
          class="btn position-relative rounded-circle position-relative my-3"
        >
          <i class="fas fa-sign-out" style="color: white"></i>
        </button>
      </div>
      <div
        class="bg-[#fff3cd] px-2 py-2 mx-2 border border-gray-200 rounded-lg row mb-2 text-black-700"
      >
        <div class="col-3 d-flex flex-column justify-content-center">
          <img src="../../../assets/icons/taco-icon.png" />
        </div>
        <div class="col-9 my-auto">
          <div>
            <p class="fw-normal text-start small">A new week already start?</p>
            <div class="text-start">
              <a class="fw-bold cart-link text-sm" (click)="generateNewMenu()"
                >Generate menu for this week</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container d-flex justify-content-between recipes-container pb-4"
    >
      <div *ngFor="let date of weekDays" [appTodayHighlight]="date">
        <p class="small justify-content-center d-flex">
          {{ date | date : "EEE" }}
        </p>
        <div
          class="card py-2 px-2 shadow"
          (click)="getRecommendationByDay(date)"
          [class.selected-day]="selectedDay === date"
        >
          <p class="justify-content-center d-flex fw-bold small">
            {{ date | date : "d" }}
          </p>
          <p class="justify-content-center d-flex">{{ date | date : "MMM" }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="recommendedRecipes.length > 0; else noRecipesBanner">
      <div class="flex justify-content-between">
        <p class="fw-bold text-base mb-3 mx-2">{{ recipesLabel }}</p>
        <span class="badge bg-warning text-sm text-grey-500 mb-3 mx-2"
          >Total {{ dailyTotalCalories }} kcals</span
        >
      </div>
      <div class="recipes-container scrolling-wrapper flex-column">
        <ng-container *ngFor="let recipe of recommendedRecipes">
          <a [routerLink]="['/recipe', recipe.breakfastRecipe.id]">
            <div
              class="card mb-3 d-flex flex-row bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            >
              <div class="w-1/4">
                <app-badge
                  [color]="'lime'"
                  [text]="'Breakfast'"
                  [showXButton]="false"
                  class="mx-1 my-1 position-absolute"
                  style="z-index: 1000"
                ></app-badge>
                <img
                  [src]="getImageUrl(recipe.breakfastRecipe.pictureUrl)"
                  onError="this.src='../../../assets/no-content/no-image.png'"
                  class="rounded-lg h-28 w-28 object-cover"
                />
              </div>
              <div
                class="d-flex flex-column w-3/4 gap-3 justify-content-center px-3"
              >
                <div class="title-container">
                  <p class="px-1 pt-2 fw-bold">
                    {{ recipe.breakfastRecipe.name }}
                  </p>
                </div>
                <div class="detail-container row">
                  <div class="col">
                    <div class="row d-flex justify-content-center">🔥</div>
                    <div
                      class="row d-flex justify-content-center recipe-details-text"
                    >
                      {{ recipe.breakfastRecipe.kcals }} kcals
                    </div>
                  </div>
                  <div class="col">
                    <div class="row d-flex justify-content-center">⌚</div>
                    <div
                      class="row d-flex justify-content-center recipe-details-text"
                    >
                      {{ recipe.breakfastRecipe.prepTime }} min
                    </div>
                  </div>
                  <!-- <div class="col">
                    <div class="row d-flex justify-content-center">⭐</div>
                    <div
                      class="row d-flex justify-content-center recipe-details-text"
                    >
                      {{ recipe.dinnerRecipe.rating }}
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/recipe', recipe.lunchRecipe.id]">
            <div
              class="card mb-3 d-flex flex-row bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            >
              <div class="w-1/4">
                <app-badge
                  [color]="'yellow'"
                  [text]="'Lunch'"
                  [showXButton]="false"
                  class="position-absolute"
                  style="z-index: 1000"
                ></app-badge>

                <img
                  [src]="getImageUrl(recipe.lunchRecipe.pictureUrl)"
                  class="rounded-lg h-28 w-28 object-cover"
                  onError="this.src='../../../assets/no-content/no-image.png'"
                />
              </div>
              <div
                class="d-flex flex-column w-3/4 gap-3 justify-content-center px-3"
              >
                <div class="title-container">
                  <p class="px-1 pt-2 fw-bold">{{ recipe.lunchRecipe.name }}</p>
                </div>
                <div class="detail-container row">
                  <div class="col">
                    <div class="row d-flex justify-content-center">🔥</div>
                    <div
                      class="row d-flex justify-content-center recipe-details-text"
                    >
                      {{ recipe.lunchRecipe.kcals }} kcals
                    </div>
                  </div>
                  <div class="col">
                    <div class="row d-flex justify-content-center">⌚</div>
                    <div
                      class="row d-flex justify-content-center recipe-details-text"
                    >
                      {{ recipe.lunchRecipe.prepTime }} min
                    </div>
                  </div>
                  <!-- <div class="col">
                    <div class="row d-flex justify-content-center">⭐</div>
                    <div
                      class="row d-flex justify-content-center recipe-details-text"
                    >
                      {{ recipe.dinnerRecipe.rating }}
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/recipe', recipe.dinnerRecipe.id]">
            <div
              class="card mb-3 d-flex flex-row bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            >
              <div class="w-1/4">
                <app-badge
                  [color]="'orange'"
                  [text]="'Dinner'"
                  [showXButton]="false"
                  class="position-absolute"
                  style="z-index: 1000"
                ></app-badge>

                <img
                  [src]="getImageUrl(recipe.dinnerRecipe.pictureUrl)"
                  onError="this.src='../../../assets/no-content/no-image.png'"
                  class="rounded-lg h-28 w-28 object-cover"
                />
              </div>
              <div
                class="d-flex flex-column w-3/4 gap-3 justify-content-center px-3"
              >
                <div class="title-container">
                  <p class="px-1 pt-2 fw-bold">
                    {{ recipe.dinnerRecipe.name }}
                  </p>
                </div>
                <div class="detail-container row">
                  <div class="col">
                    <div class="row d-flex justify-content-center">🔥</div>
                    <div
                      class="row d-flex justify-content-center recipe-details-text"
                    >
                      {{ recipe.dinnerRecipe.kcals }} kcals
                    </div>
                  </div>
                  <div class="col">
                    <div class="row d-flex justify-content-center">⌚</div>
                    <div
                      class="row d-flex justify-content-center recipe-details-text"
                    >
                      {{ recipe.dinnerRecipe.prepTime }} min
                    </div>
                  </div>
                  <!-- <div class="col">
                    <div class="row d-flex justify-content-center">⭐</div>
                    <div
                      class="row d-flex justify-content-center recipe-details-text"
                    >
                      {{ recipe.dinnerRecipe.rating }}
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </a>
        </ng-container>
      </div>
    </div>

    <ng-template #noRecipesBanner>
      <div
        class="bg-amber-100 border-t border-b border-amber-500 text-amber-700 px-4 py-3 mx-2"
        role="alert"
      >
        <p class="font-bold">No recipes found!</p>
        <p class="text-sm">For this date we couldn't find any recipes.</p>
      </div>

      <div
        class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 mx-2 my-2"
        role="alert"
      >
        <p class="font-bold">Info about generation</p>
        <p class="text-sm">
          If you generate a new menu please refresh the page!
        </p>
      </div>
    </ng-template>

    <div class="heading" *ngIf="recommendedRecipes.length > 0">
      <div class="position-absolute bottom-28 right-8" routerLink="/chatbot">
        <button
          class="bg-gray-100 hover:bg-blue-600 text-white font-bold py-2 px-2 rounded-full shadow-lg"
        >
          <img class="w-12" src="../../../assets/icons/chatbot.png" />
        </button>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
