<div class="main-container justify-content-between flex-column d-flex bg-white">
  <div class="mx-3 column pt-2" style="overflow-y: auto">
    <div class="heading my-2">
      <div class="d-flex justify-content-between mx-2">
        <div>
          <p class="text-lg font-semibold text-gray-900 mb-0 text-center">
            🧊 My fridge
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <p class="text-sm font-normal text-gray-500 text-center">
              To avoid throwing away food and save money, we'll recommend
              recipes based on foods you already have in your fridge!
            </p>
            <button
              type="button"
              class="text-sky-700 font-medium rounded-lg text-sm p-2 h-10 text-center inline-flex items-center mr-2 dark:border-sky-500 dark:text-sky-500 dark:hover:text-white dark:focus:ring-sky-800 dark:hover:bg-sky-500"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
        <!-- <button
          (click)="logOut()"
          class="btn logout-btn position-relative rounded-circle position-relative my-3"
        >
          <i class="fas fa-sign-out" style="color: white"></i>
        </button> -->
      </div>
    </div>
    <div class="d-flex flex-row main-fridge-container rounded">
      <div
        class="d-flex flex-row justify-content-evenly rounded second-fridge-container"
      >
        <ng-container *ngFor="let ingr of fridgeData">
          <div class="position-relative">
            <span
              class="position-relative badge bg-info text-dark mx-1 my-1 position-absolute top-0 start-0"
              >{{ ingr.quantity }} {{ ingr.unitOfMeasure }}</span
            >
            <img
              class="ingredient-container d-flex align-items-end"
              [src]="getIngredientUrl(ingr.ingredient.pictureUrl)"
            />
            <span
              class="position-relative badge bg-light text-dark mx-1 my-1 position-absolute bottom-0 end-0"
              >{{ ingr.ingredient.name }}</span
            >
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
