.main-container {
    height: 100vh;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .shopping-cart{
    width: 100%;
  }
  .logout-btn {
    z-index: 1000;
    height: fit-content;
    margin-left: 10px;
    background-color: var(--bs-yellow);
  }
  .cart-item {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    grid-column-gap: 10px;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.cart-item img {
    max-width: 100px;
    height: auto;
}

.quantity-input {
    width: 40px;
    text-align: center;
}

.remove-btn {
    background-color: transparent;
    border: none;
}
.trash-icon:hover{
  color: red;
  cursor: pointer;
}
.trash-icon{
  color: #cecece;
}