<div class="main-container bg-white" *ngIf="cartData">
  <div class="mx-3 column pt-2 overflow-auto">
    <div class="heading my-2">
      <div class="d-flex justify-content-between mx-2">
        <div>
          <p class="text-lg font-semibold text-gray-900 mb-0 text-center">
            🛒 Shopping cart
          </p>
          <p class="text-sm font-normal text-gray-500 text-center">
            We have prepared a shopping list for you to make your shopping more
            efficient and faster!
          </p>
        </div>
      </div>
    </div>
    <div *ngFor="let category of groupedCartData | keyvalue">
      <p class="py-2 text-gray-700 font-normal">
        {{category.key | titlecase}}
      </p> <hr>
      
      <div
      class="d-flex flex-column"
      *ngFor="let ingredient of category.value; let i = index"
    >
      <ul class="mt-2 space-y-3">
        <li>
          <div
          [ngClass]="{'border border-gray-950': ingredient.hasEditMode,
                      'border border-gray-200': !ingredient.hasEditMode}"
            class="px-3 py-2 d-flex flex-row justify-content-between text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow"
          >
            <div class="d-flex flex-row align-items-center w-2/4">
              <div>
                <img
                  [src]="getIngredientUrl(ingredient.ingredient.pictureUrl)"
                  onError="this.src='../../../assets/no-content/no-image.png'"
                  class="rounded-lg"
                  class="img-fluid rounded-3"
                  alt="Shopping item"
                  style="width: 45px"
                />
              </div>
              <div class="ms-3">
                <p class="font-semibold text-gray-900 mb-0 text-break">
                  {{ ingredient.ingredient.name }}
                </p>
                <p class="small mb-0 text-gray-500 font-normal">
                  {{ ingredient.unitOfMeasure | titlecase }}
                </p>
              </div>
            </div>
            <div class="d-flex flex-row align-items-center">
              <button
                class="btn btn-link px-2"
                *ngIf="ingredient.hasEditMode"
                (click)="decrementQuantity(i)"
              >
                <i class="fa-solid fa-minus text-gray-500"></i>
              </button>

              <input
                id="form1"
                min="0"
                name="quantity"
                value="{{ ingredient.quantity }}"
                [(ngModel)]="ingredient.quantity"
                type="number"
                style="width: 60px"
                [disabled]="!ingredient.hasEditMode"
                class="form-control form-control-sm bg-white text-gray-500"
              />

              <button
                class="btn btn-link px-2"
                *ngIf="ingredient.hasEditMode"
                (click)="incrementQuantity(i)"
              >
                <i class="fa-solid fa-plus text-gray-500"></i>
              </button>
            </div>
            <div
           
            class="d-flex column align-items-center justify-content-end w-1/4"
            >
              <a class="trash-icon" (click)="deleteUserIngredient(i)"
                ><i class="fas fa-trash-alt text-red-400"></i
              ></a>
              <a
                class="trash-icon ps-3"
                (click)="toggleEditMode(i)"
                *ngIf="!ingredient.hasEditMode; else saveMode"
              >
                <i class="fa-solid fa-pen-to-square text-[#ffa500]"> </i>
              </a>
              <ng-template #saveMode>
                <a
                  class="trash-icon ps-3"
                  (click)="updateCartIngredient(i)"
                >
                  <i class="fa-solid fa-circle-check text-[#65a30d]"> </i>
                </a>
              </ng-template>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </div>
   
  </div>
  <app-navbar></app-navbar>
</div>
