<div class="main-container bg-white">
  <div class="mx-3 column pt-2 overflow-auto">
    <div class="heading my-2">
      <div class="d-flex justify-content-between mx-2">
        <div>
          <p class="fs-4 font-semibold text-gray-900 mb-0 text-center">
            🛒 Shopping cart
          </p>
          <p class="fs-6 font-normal text-gray-500 text-center">
            We have prepared a shopping list for you to make your shopping more
            efficient and faster!
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <ul class="mt-2 space-y-3">
        <li>
          <div
            class="px-3 py-2 d-flex border border-gray-200 rounded-lg text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow"
          >
            <div class="d-flex flex-row align-items-center w-2/4">
              <div>
                <img
                  src="../../../../../assets/fridge-icons/icons8-cheese-64.png"
                  class="img-fluid rounded-3"
                  alt="Shopping item"
                  style="width: 45px"
                />
              </div>
              <div class="ms-3">
                <p class="font-semibold text-gray-900 mb-0 text-break">
                  Cheese
                </p>
                <p class="small mb-0 text-gray-500 font-normal">G</p>
              </div>
            </div>
            <div class="d-flex flex-row align-items-center w-1/4">
              
              <button
                class="btn btn-link px-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
              >
                <i class="fa-solid fa-minus text-[#9575cd]"></i>
              </button>

              <input
                id="form1"
                min="0"
                name="quantity"
                value="2"
                type="number"
                style="width: 40px"
                class="form-control form-control-sm bg-[#9575cd] text-white"
              />

              <button
                class="btn btn-link px-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
              >
              <i class="fa-solid fa-plus text-[#9575cd]"></i>
              </button>
            </div>
            <div
              class="d-flex column align-items-center w-1/4 justify-content-end"
            >
              <a class="trash-icon"><i class="fas fa-trash-alt text-red-400"></i></a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="mt-2 space-y-3">
        <li>
          <div
            class="px-3 py-2 d-flex border border-gray-200 rounded-lg text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow"
          >
            <div class="d-flex flex-row align-items-center w-2/4">
              <div>
                <img
                  src="../../../../../assets/fridge-icons/icons8-kiwi-64.png"
                  class="img-fluid rounded-3"
                  alt="Shopping item"
                  style="width: 45px"
                />
              </div>
              <div class="ms-3">
                <p class="font-semibold text-gray-900 mb-0 text-break">
                  Kiwi
                </p>
                <p class="small mb-0 text-gray-500 font-normal">piece</p>
              </div>
            </div>
            <div class="d-flex flex-row align-items-center w-1/4">
              <button
                class="btn btn-link px-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
              >
              <i class="fa-solid fa-minus text-[#9575cd]"></i>
              </button>

              <input
                id="form1"
                min="0"
                name="quantity"
                value="2"
                type="number"
                style="width: 40px"
                class="form-control form-control-sm bg-[#9575cd] text-white"
              />

              <button
                class="btn btn-link px-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
              >
              <i class="fa-solid fa-plus text-[#9575cd]"></i>
              </button>
            </div>
            <div
              class="d-flex column align-items-center w-1/4 justify-content-end"
            >
              <a class="trash-icon"><i class="fas fa-trash-alt"></i></a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="mt-2 space-y-3">
        <li>
          <div
            class="px-3 py-2 d-flex border border-gray-200 rounded-lg text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow"
          >
            <div class="d-flex flex-row align-items-center w-2/4">
              <div>
                <img
                  src="../../../../../assets/fridge-icons/icons8-eggs-64.png"
                  class="img-fluid rounded-3"
                  alt="Shopping item"
                  style="width: 45px"
                />
              </div>
              <div class="ms-3">
                <p class="font-semibold text-gray-900 mb-0 text-break">
                  Eggs
                </p>
                <p class="small mb-0 text-gray-500 font-normal">piece</p>
              </div>
            </div>
            <div class="d-flex flex-row align-items-center w-1/4">
              <button
                class="btn btn-link px-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
              >
              <i class="fa-solid fa-minus text-[#9575cd]"></i>
              </button>

              <input
                id="form1"
                min="0"
                name="quantity"
                value="2"
                type="number"
                style="width: 40px"
                class="form-control form-control-sm bg-[#9575cd] text-white"
              />

              <button
                class="btn btn-link px-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
              >
              <i class="fa-solid fa-plus text-[#9575cd]"></i>
              </button>
            </div>
            <div
              class="d-flex column align-items-center w-1/4 justify-content-end"
            >
              <a class="trash-icon"><i class="fas fa-trash-alt text-red-400"></i></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>

<!-- <div class="main-container" *ngIf="cartData$">
  <div class="mx-4 column pt-4" style="overflow-y: auto">
    <div class="heading">
      <div class="d-flex justify-content-between mx-2">
        <div>
          <p class="fs-3 fw-bold">🛒 Shopping cart</p>
          <p class="fw-light">You have 4 items in your cart</p>
        </div>
        <button class="sign-out-btn">
          <div class="sign">
            <svg viewBox="0 0 512 512">
              <path
                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
              ></path>
            </svg>
          </div>
          <div class="text">Logout</div>
        </button>
      </div>
    </div>
    <div class="d-flex flex-column" *ngFor="let cartItem of cartData$ | async">
      <div class="card mb-3 shopping-cart">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div>
                <img
                  src="../../../../../assets/icons/avocado-icon.png"
                  class="img-fluid rounded-3"
                  alt="Shopping item"
                  style="width: 65px"
                />
              </div>
              <div class="ms-3">
                <p class="fw-bold fs-6 mb-0">{{ cartItem.Ingredient.Name }}</p>
                <p class="small mb-0">
                  Unit: <span>{{ cartItem.Unit }}</span>
                </p>
              </div>
            </div>
            <div class="d-flex flex-row align-items-center">
              <button
                class="btn btn-link px-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
              >
                <i class="fa-solid fa-minus"></i>
              </button>

              <input
                id="form1"
                min="0"
                name="quantity"
                value="{{ cartItem.Quantity }}"
                type="number"
                style="width: 40px"
                class="form-control form-control-sm"
              />

              <button
                class="btn btn-link px-2"
                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
            <div class="d-flex column align-items-center">
              <a class="trash-icon"><i class="fas fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div> -->
