<div class="main-container">
  <div style="overflow: auto">
    <div class="container col px-4 pt-4">
      <p class="text-lg fw-bold">What are your favorite cuisines?</p>
      <p class="text-base text-muted">
        Please select your favorite cuisines for a better recommendations.
      </p>
      <div class="container">
        <div class="row">
          <div class="col" *ngFor="let cuisine of allCuisines">
            <label class="radio-card">
              <input
                type="checkbox"
                [name]="cuisine.id"
                [id]="'radio-card-' + cuisine.id"
                [checked]="isSelected(cuisine.name)"
                (change)="updateList(cuisine.name)"
              />
              <div class="card-content-wrapper">
                <span class="check-icon"></span>
                <div class="card-content-custom card-content">
                  <img [src]="cuisine.iconUrl" />
                  <p class="text-lg fw-bold">{{ cuisine.name }}</p>
                  <p class="text-sm text-muted text-center">
                    {{ cuisine.description }}
                  </p>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer py-3">
    <button class="btn btn-secondary" (click)="goHome()">Cancel</button>
    <button class="btn btn-warning" (click)="updateCuisines()">Save</button>
  </div>
</div>
