.card-content-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label.radio-card{
    height: 100% !important;
    padding-bottom: 25px !important;
}

.card-content-wrapper{
    height: inherit !important;
}

.row{
    gap: 20px;
}
.icon{
    font-size: 22px;
}
h5{
    text-align: center !important;
}
.container{
    padding-bottom: 10px !important;
}